html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: skyblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:navy;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
  }
  a{
    text-decoration: none;
  }
  li {
    float: left;
    width: 10em;
  }
  
  li a {
    display: block;
    color: peachpuff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 10em;
  }
  li a:visited {
    display: block;
    color: peachpuff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 10em;
  }
  .deroulant li{
    width: 10em;
  }
  li a:hover {
    background-color: #111111;
  }
  .galerie-item{
    background-color: lightblue;
  }
  .container>img{
    width: 100%;
  }
  .galerie-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}
.photo-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
  .galerie-item{
    width:20em;
    margin: 1em;
    
}
.galerie-item div{
  color: black;
}
.galerie-item img{
 width: 100%;
}
.photo-item{
  width:20em;
  margin: 1em;
}



#login, #password,#titre,#description {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit],input[type=file],label {
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: lightblue;
  }
.container>a{
  color: black;
  text-decoration: none;
  background-color: lightblue;
}
.container{
  background-color: blue;
  border-radius: 4px;
}