$body_bg: #2B2B2B !default;
$body_color: white !default;
$body_font-family: Arial, Helvetica, sans-serif !default;

$button_bg_default: #45494a !default;

$a_color: inherit !default;
$a_text_decoration: none !default;
$a_hover_font-weight: bolder !default;

$navbar_bg: #313335 !default;
$navbar_separateur: #595b5d !default;

$input_bg: #45494a !default;

$image_info_bg: #4e5052 !default;
$image_info_border_color: #595b5d !default;